.main-nav {
    margin-bottom: 20px;
}

.nav-button {
    display: flex;
    align-items: center;
    padding: 15px;
}

.nav-button button {
    background-color: transparent;
    border: none;
    color: gray;
}

.actions {
    margin-bottom: 20px;
}

.playlist {
    color: gray;

}

.playlist span {
    display: block;
    padding: 15px;
}

/* .song-progress {
    
} */

.song-progress span {
    color: white;
}